# Visión (The Eye)
mediapipe
opencv-python
streamlit

# IoT y Comunicación (The Messenger)
# Se sugiere 'requests' para enviar mensajes rápido como indica el consejo técnico #3
python-telegram-bot

# Configuración y Variables de Entorno (Seguridad)
python-dotenv

# Visualización y Datos (Dashboard)
pandas
plotly
fastapi
uvicorn
python-multipart
