# Vision (The Eye)
ultralytics
opencv-python

# IoT & Communication
python-telegram-bot
requests

# Configuration
python-dotenv

# Backend & Data
pandas
fastapi
uvicorn
python-multipart
psutil
pydantic
